div{
    width: 400px;
    background: cornflowerblue;
    margin-bottom: 10px;
}
img{
    width: 100%;
}
p{
    width: 100%;
    text-align: center;
}

.porshe-class{
    background: yellow;
}

.audi-class{
    background: red;
}